$gridi-helpers-flexbox-alignment-self-classes: (
    align-self-flex-start: flex-start,
    align-self-flex-end: flex-end,
    align-self-center: center,
    align-self-baseline: baseline,
    align-self-stretch: stretch
) !default;